
div.selector, 
div.selector > span > span, 
div.checker span,
div.radio span, 
div.uploader, 
div.uploader span.action{
  background-image: url(../img/uniform/sprite.png);
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
}

div.button span {
  background-image: url(../img/uniform/button-1.png);
  background-repeat: repeat;
  -webkit-font-smoothing: antialiased;
}

.selector, 
.radio, 
.checker, 
.uploader,
.button, 
.selector *, 
.radio *, 
.checker *, 
.uploader *,
.button *{
  margin: 0;
  padding: 0;
}

/* INPUT & TEXTAREA */

input.text,
input.email, 
input.password,
textarea.uniform {
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  padding:0 9px;
  /*background: #fff url('../img/uniform/bg-input-focus.png') repeat-x 0px 0px;*/
  background: #fff url('../img/uniform/bg-input.png') repeat-x 0px 0px;
  border-top: solid 1px #aaa;
  border-left: solid 1px #aaa;
  border-bottom: solid 1px #ccc;
  border-right: solid 1px #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height:34px;
  color:#666;
}

textarea.uniform {
	height:auto;
	padding:8px;
	line-height:18px;
	margin:0;
	display:block;
}


input.text:focus,
input.email:focus,
input.password:focus,
textarea.uniform:focus {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
  border-color: #b0b0b0;
  /*background-image: url('../img/uniform/bg-input-focus.png');*/
}

/* SPRITES */

/* Select */

div.selector {
  background-position: left -180px;
  line-height: 36px;
  height: 36px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

div.selector span {
  background-position: right 0px;
  height: 36px;
  line-height: 36px;
}

div.selector select {
  /* change these to adjust positioning of select element */
  top: 0px;
  left: 0px;
}

div.selector:active, 
div.selector.active {
  background-position: left -216px;
}

div.selector:active span, 
div.selector.active span {
  background-position: right -36px;
}

div.selector.focus, div.selector.hover, div.selector:hover {
  background-position: left -252px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
}

div.selector.focus span, div.selector.hover span, div.selector:hover span {
  background-position: right -72px;
}

div.selector.focus:active,
div.selector.focus.active,
div.selector:hover:active,
div.selector.active:hover {
  background-position: left -288px;
}

div.selector.focus:active span,
div.selector:hover:active span,
div.selector.active:hover span,
div.selector.focus.active span {
  background-position: right -108px;
}

div.selector.disabled {
  background-position: left -324px;
}

div.selector.disabled span {
  background-position: right -144px;
}

/* Checkbox */

div.checker {
  width: 36px;
  height: 34px;
}

div.checker input {
  width: 36px;
  height: 34px;
  cursor:pointer;
}

div.checker span {
  background-position: 0px -360px;
  height: 34px;
  width: 36px;
}

div.checker:active span, 
div.checker.active span {
  background-position: -36px -360px;
}

div.checker.focus span,
div.checker:hover span {
  background-position: -72px -360px;
}

div.checker.focus:active span,
div.checker:active:hover span,
div.checker.active:hover span,
div.checker.focus.active span {
  background-position: -108px -360px;
}

div.checker span.checked {
  background-position: -144px -360px;
}

div.checker:active span.checked, 
div.checker.active span.checked {
  background-position: -180px -360px;
}

div.checker.focus span.checked,
div.checker:hover span.checked {
  background-position: -216px -360px;
}

div.checker.focus:active span.checked,
div.checker:hover:active span.checked,
div.checker.active:hover span.checked,
div.checker.active.focus span.checked {
  background-position: -252px -360px;
}

div.checker.disabled span,
div.checker.disabled:active span,
div.checker.disabled.active span {
  background-position: -288px -360px;
}

div.checker.disabled span.checked,
div.checker.disabled:active span.checked,
div.checker.disabled.active span.checked {
  background-position: -324px -360px;
}

/* Radio */

div.radio {
  width: 36px;
  height: 34px;
}

div.radio input {
  width: 36px;
  height: 34px;
}

div.radio span {
  height: 34px;
  width: 36px;
  background-position: 0px -396px;
}

div.radio:active span, 
div.radio.active span {
  background-position: -36px -396px;
}

div.radio.focus span, 
div.radio:hover span {
  background-position: -108px -396px;
}

div.radio.focus:active span,
div.radio:active:hover span,
div.radio.active:hover span,
div.radio.active.focus span {
  background-position: -108px -396px;
}

div.radio span.checked {
  background-position: -144px -396px;
}

div.radio:active span.checked,
div.radio.active span.checked {
  background-position: -180px -396px;
}

div.radio.focus span.checked, div.radio:hover span.checked {
  background-position: -216px -396px;
}

div.radio.focus:active span.checked, 
div.radio:hover:active span.checked,
div.radio.focus.active span.checked,
div.radio.active:hover span.checked {
  background-position: -252px -396px;
}

div.radio.disabled span,
div.radio.disabled:active span,
div.radio.disabled.active span {
  background-position: -288px -396px;
}

div.radio.disabled span.checked,
div.radio.disabled:active span.checked,
div.radio.disabled.active span.checked {
  background-position: -324px -396px;
}

div.button span {
  background-position: left top;
}

div.button.focus span,
div.button:focus span,
div.button:hover span,
div.button.hover span {
  background-position: left -52px; 
}

div.button.active span,
div.button:active span {
  background-position: 0px -104px;
  color: #555;
}

div.button.disabled span,
div.button:disabled span {
  background-position: 0px -156px;
  color: #bbb;
  cursor: default;
}

/* PRESENTATION */

/* Button */

div.button {
	height:52px;
	padding:1px;
  cursor:pointer;
  
	background:-webkit-linear-gradient(top,rgba(255,255,255,0.8),rgba(255,255,255,0.0));
	background:-moz-linear-gradient(top,rgba(255,255,255,0.8),rgba(255,255,255,0.0));
	background:linear-gradient(top,rgba(255,255,255,0.8),rgba(255,255,255,0.0));
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

div.button span {
 	margin:0;
  line-height:52px !important;
  display:block !important;
  font-weight: normal;
  font-size: 23px;
  padding:0 34px;
  cursor:pointer;
  
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	
	color:#fff;
	-webkit-text-shadow:0 -1px 0 rgba(0,0,0,0.8);
	-moz-text-shadow:0 -1px 0 rgba(0,0,0,0.8);
	text-shadow:0 -1px 0 rgba(0,0,0,0.8);
	
	-webkit-box-shadow:0 1px 1px 0 rgba(0,0,0,0.5);
	-moz-box-shadow:0 1px 1px 0 rgba(0,0,0,0.5);
	box-shadow:0 1px 1px 0 rgba(0,0,0,0.5);
}

div.button:active span,
div.button.active span {
	-webkit-box-shadow:0 0 1px 0 rgba(0,0,0,0.5);
	-moz-box-shadow:0 0 1px 0 rgba(0,0,0,0.5);
	box-shadow:0 0 1px 0 rgba(0,0,0,0.5);
}

/* Select */
div.selector {
  font-size: 18px;
  cursor:pointer;
}

div.selector select {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  border: solid 1px #fff;
  cursor:pointer;
}

div.selector select option
{
	font-size:18px;
	height:32px;
	padding:8px 40px 0 9px;
	background:#fff;
	color:#666;
	cursor:pointer;
}

div.selector > span > span > span {
  cursor: pointer;
  color: #666;
  text-shadow: 0 1px 0 #fff;
  overflow:hidden;
}

div.selector.disabled span {
  color: #bbb;
}

/* Checker */
div.checker {
  cursor:pointer;
  vertical-align:top;
}

/* Radio */
div.radio {
  cursor:pointer;
  vertical-align:top;
}

/*

CORE FUNCTIONALITY 

Not advised to edit stuff below this line
-----------------------------------------------------
*/

.selector, 
.checker, 
.button, 
.radio, 
.uploader {
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
}

.selector select:focus, .radio input:focus, .checker input:focus, .uploader input:focus {
  outline: 0;
}

/* Button */

div.button a,
div.button button,
div.button input {
  position: absolute;
  top:0;
  left:0;
  cursor:pointer;
}

div.button {
  cursor: pointer;
  position: relative;
}

div.button span {
  display: -moz-inline-box;
  display: inline-block;
  line-height: 1;
  text-align: center;
}

/* Select */

div.selector {
  position: relative;
  padding-left: 10px;
  overflow: hidden;
}

div.selector > span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position:absolute;
  width:100%;
  top:0;
  left:10px;
}

div.selector > span > span {
  display: block;
	margin:0 10px 0 0;
	padding:0 36px 0 0;
}

div.selector > span > span > span {
  display: block;
  overflow:hidden;
}

div.selector select {
  opacity: 0;
  filter: alpha(opacity:0);
  height: 35px;
  border: none;
  background: none;
  margin-left:-10px;
  position:relative;
}

/* Checker */

div.checker {
  position: relative;
}

div.checker span {
  display: -moz-inline-box;
  display: inline-block;
  text-align: center;
}

div.checker input {
  opacity: 0;
  filter: alpha(opacity:0);
  display: inline-block;
  background: none;
}

/* Radio */

div.radio {
  position: relative;
}

div.radio span {
  display: -moz-inline-box;
  display: inline-block;
  text-align: center;
}

div.radio input {
  opacity: 0;
  filter: alpha(opacity:0);
  text-align: center;
  display: inline-block;
  background: none;
  cursor:pointer;
}

